form {
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  padding: 10%;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  background-color: #2a71ce;
  color: white;
  padding: 10px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #407bc8;
}

.link-container {
  margin-top: 20px;
}

