.custom-label4 {
    display: block;
    font-weight: 500;
    position: absolute;
}

.pytania-container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: center;
}

.card-custom2{
    display: flex;
    flex-direction: column;
    height: 600px;
    margin: 0;
    text-align: left;
}

.card-body2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.custom-cardtext{
    font-size: 17px;
    margin-left: 30px;
    text-indent: -20px;
}

.custom-cardtext::first-letter{
    font-weight: 600;
}

.custom-cardtext-true{
    font-size: 17px;
    margin-left: 30px;
    color: rgb(53, 151, 53);
    font-weight: 600;
    text-indent: -20px;
}

.custom-cardtext-true::first-letter{
    font-weight: 600;
    color: black;
}

.custom-cardtext-null{
    font-size: 0px;
    user-select: none;
}

.titick-false{
    opacity: 0%;
    user-select: none;
}

.titick-true{
    color: green;
}


.custom-cardtitle{
    margin-bottom: 20px;
}

.custom-button8 {
    background-color: transparent;
    color: rgb(231, 73, 73);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    user-select: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
  
.custom-button8:hover {
    color: rgb(233, 93, 93);
}

.custom-label3 {
    display: block;
    font-size: 20px;
}

.custom-button9 {
    background-color: #2a71ce;
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 30px;
    user-select: none;
}

.custom-button9:hover {
    background-color: #407bc8;
}

.custom-input2 {
    margin-top: 10px;
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0px;
  }

/* Customize the label (the container) */
.checkbox-container2 {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
    left: 14px;
    top: 1px;
}
  
  /* Hide the browser's default checkbox */
.checkbox-container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 125px;
    height: 19px;
    width: 19px;
    background-color: #eee;
}
  
  /* On mouse-over, add a grey background color */
.checkbox-container2:hover input ~ .checkmark {
    background-color: #ccc;
}
  
  /* When the checkbox is checked, add a blue background */
.checkbox-container2 input:checked ~ .checkmark {
    background-color: #2a71ce;
}
  
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the checkmark when checked */
.checkbox-container2 input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the checkmark/indicator */
.checkbox-container2 .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-form2 {
    max-width: 450px;
    margin: auto;
    font-family: sans-serif;
    text-align: center;
}

.custom-form2 .custom-label{
    user-select: none;
}

.custom-label5 {
    display: block;
    font-weight: 500;
    position: fixed;
    color: #2a71ce;
    width: 150px;
    top: 257px;
    right: 447.6px;
    background-color: white;
    border-radius: 4px;
}

.c-container-off {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.d-container-off {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.e-container-off {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.f-container-off {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-button10 {
    background-color: #2a71ce;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    width: 70px;
    font-size: 10px;
    font-weight: 500;
}

.custom-button10:hover {
    background-color: #407bc8;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.red-label{
    color: rgb(231, 73, 73) !important;
}

hr{
    margin-bottom: 0px;
    background: black;
}